.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
	width: 100%;
	background-color: #00261d8d;
	animation : fadeinout 1.5s linear forwards;
    opacity: 0;
}
@-webkit-keyframes fadeinout {
	50% { opacity: 1; }

  }

  @keyframes fadeinout {
	50% { opacity: 1; }
  }
.popoverContainer {
	position: absolute;
	padding: 15px;
	min-width: 250px;
	max-width: 350px;
	font-size: 24px;
	top: 40%;
	left: 40%;
	right: 0;
	text-align: center;
	z-index: 100;
	border-radius: 1em;
	background-color: rgb(255, 255, 255);
	color: black;
	transition: 0.3s;
	transform: 0.3s;
	animation: popover 0.5s forwards;
}
