.participantsContainer {
	display: flex;
	width: 70vw;
	flex-direction: column;
	width: 100%;
}

.fotoContainer {
	margin: 10px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.favoriteButton {
	margin: 10px auto;
}

.textContent {
	width: 100%;
	border: 1px solid;
	border-radius: 1rem;
	text-align: center;
	width: 70vw;
	display: flex;
	flex-direction: column;
}

.textContent p {
	font-size: 24px;
}

.info {
	margin: 5px auto;
	padding: 10px;
	font-size: 24px;
	font-weight: 500;
}

.info p {
	padding: 6px;
}

.badges {
	margin-top: 26px;
	display: flex;
}

.fotoContent {
	width: 450px;
	margin: 18px auto;
	border-radius: 1rem;
}

.socialContent {
	position: relative;
	width: 300px;
	margin: 0 auto 20px;
	display: flex;
	justify-content: space-between;
}

.container_Badge {
	position: absolute;
}

.color_icon {
	position: absolute;
    right: 7px;
    width: 39px;
    height: 41px;
    top: 8px;
    background-color: white;
    border-radius: 50%;
    top: 6px;
}
.sliderContent {
	text-align: center;
	margin-top: 40px;
}

.sliderContent p {
	margin: 26px;
	font-size: 44px;
}
