.participantsContainer {
	display: flex;
	flex-direction: column;
}

.fotoContainer {
	margin: 20px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.textContent {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.info {
	margin: 25px auto;
	font-size: 24px;
	font-weight: 500;


}

.fotoContent {
	width: 350px;

	border-radius: 1rem;
}

.socialContent {
	position: relative;
	width: 300px;
	margin: 5px auto;
	display: flex;
	justify-content: space-between;
}

.container_Badge {
	position: absolute;
}

.color_icon {
	position: absolute;
    right: 7px;
    width: 39px;
    height: 41px;
    top: 8px;
    background-color: white;
    border-radius: 50%;
    top: 6px;
}
