.container {
	display: flex;
	vertical-align: middle;
	max-width: 1000px;
	width: 100%;
	background-color: #dbdada;
	margin: 0 10px;
	border-radius: 1em;
}
.h1_technology {
	margin: 7px 0;
	margin-left: 10px;
	font-size: 24px;
	color: black;
}

