.cardContent a {
	text-decoration: none;
}

.block {
	align-items: center;
	text-decoration: none;
	margin: 15px;
	cursor: pointer;
	background-color: #000000;
	display: flex;
	width: 100%;
	border-radius: 22px;
	border: 1px solid;
	transform: initial;
	transition: 0.3s;
}

.block:hover {
	box-shadow: 10px 10px 100px 6px #09786b;
	transform: initial;
	transition: 0.3s;
}

.fotoContent {
	width: 300px;
	border-radius: 22px;
	color: #d0e9e3;
}

.photoContainer {
	display: flex;
}

.textContainer {

	padding: 10px;
	margin-left: 10px;
	text-align: center;

}
.btn {
	position: relative;
	margin-left: 60px;
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideInFromTopLeft {
	0% {
		opacity: 0;
		transform: translate(-50px, -50px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes slideInFromTopRight {
	0% {
		opacity: 0;
		transform: translate(50px, -50px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.card {
	opacity: 0;
}

.card:nth-child(1) {
	animation: slideInFromTopLeft 0.5s forwards;
	animation-delay: 0s;
	transform: translateX(-50px);
}

.card:nth-child(2) {
	animation: slideInFromTopRight 0.5s forwards;
	animation-delay: 0.3s;
	transform: translateX(50px);
}

.card:nth-child(3) {
	animation: slideIn 0.5s forwards;
	animation-delay: 0.6s;
	transform: translateX(0);
}

