.cardContent a {
	text-decoration: none;
}

.block {
	text-decoration: none;
	margin: 15px;
	cursor: pointer;
	display: flex;
	width: 100%;
	border-radius: 22px;
	border: 1px solid;
	transform: 0.3s;
	transition: 0.3s;
}

.block:hover {
	box-shadow: 10px 10px 100px 6px #09786b;
	transform: 0.3s;
	transition: 0.3s;
}

.fotoContent {
	width: 215px;
	border-radius: 22px;
	color: #d0e9e3;
}

.photoContainer {
	display: flex;
}

.textContainer {
	padding: 10px;
	margin-left: 10px;
	text-align: center;

}
.btn {
	margin-left: 60px;
}
