.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 80vw;
	margin: 0 auto;
	background-color: #17372f;
	color: #d0e9e3;
}

.content {
	margin: 8.5rem 0 0px 2.5rem;
	min-height: calc(100vh - 304px);
}
