.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: auto;
	width: 1200px;
	margin: 0 auto;
	background-color: #17372f;
	color: #d0e9e3;
}

.content {
	margin: 150px 0 280px 20px;
	height: 100%;
}
