* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
}
::-moz-selection{ background: #000; color:#fff;}
::selection { background:#000; color:#fff; }
body {

	background-color: #17372f;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

li {
	list-style: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1,
h2,h4 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
a {
	color: #d0e9e3;
	text-decoration: none;
}

a:hover {
	color: #00e2aa;
}

img {
	pointer-events: none;
}

::-webkit-scrollbar {
    display: none;
}
