.slider_container {
	max-width: 600px;
	max-height: 400px;
	margin: auto;
}
.swiper_click {
	max-width: 850px;
	max-height: 850px;
	margin: auto;
  }


.swiper {
	border-radius: 5px;
	max-width: 700px;
	width: 100%;
	border: 1px solid black;
	border-radius: 10px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }



  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
  }
